<app-navbar></app-navbar>
<div class="container mx-auto my-16">
  <h1 class="text-5xl mt-0 mb-1 mx-4 lg:mx-0">PassVaultWeb</h1>
  <p class="mb-5 mx-4 lg:mx-0">Your password manage app</p>
  <!-- alert  -->
  <div *ngIf="isSuccess" class="p-5 my-3 bg-green-400 text-white">
    {{ this.successMsg }}
  </div>
  <!-- Add New Site form  -->
  <div
    class="lg:px-20 px-5 py-10 mb-10 my-5 lg:border-4 border-t-2 border-gray-900"
  >
    <h2 class="text-3xl text-center">{{ formState }} Site</h2>
    <p class="text-center">You can {{ formState }} site from the below form</p>
    <form [formGroup]="siteListForm" (ngSubmit)="onSubmit(siteListForm.value)">
      <div class="flex flex-col">
        <label class="text-lg font-medium mb-2 mt-10 lg:mt-2">Site Name</label>
        <input
          type="text"
          name="siteName"
          class="border-2 border-gray-900 p-2 rounded-lg w-full mb-3"
          required
          formControlName="siteName"
          [ngClass]="{
            'bg-red-50 border-red-500':
              siteListForm.get('siteName')?.invalid &&
              (formSubmitted || siteListForm.controls['siteName'].touched)
          }"
        />
        <div
          *ngIf="
            (formSubmitted || siteListForm.controls['siteName'].touched) &&
            siteListForm.controls['siteName'].invalid
          "
          class="mt-[-10px] mb-3 text-red-500"
        >
          <div *ngIf="siteListForm.controls['siteName'].hasError('required')">
            Please enter site name
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <label class="text-lg font-medium mb-2">Site Url</label>
        <input
          type="text"
          name="siteUrl"
          class="border-2 border-gray-900 p-2 rounded-lg w-full mb-3"
          formControlName="siteUrl"
          [ngClass]="{
            'bg-red-50 border-red-500':
              siteListForm.get('siteUrl')?.invalid &&
              (formSubmitted || siteListForm.controls['siteUrl'].touched)
          }"
        />
        <div
          *ngIf="
            (formSubmitted || siteListForm.controls['siteUrl'].touched) &&
            siteListForm.controls['siteUrl'].invalid
          "
          class="mt-[-10px] mb-3 text-red-500"
        >
          <div *ngIf="siteListForm.controls['siteUrl'].hasError('required')">
            Please enter site URL
          </div>
          <div *ngIf="siteListForm.controls['siteUrl'].hasError('invalidUrl')">
            Please enter valid site URL
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <label class="text-lg font-medium mb-2">Site Image Url</label>
        <input
          type="text"
          name="siteImgUrl"
          class="border-2 border-gray-900 p-2 rounded-lg w-full"
          formControlName="siteImgUrl"
          [ngClass]="{
            'bg-red-50 border-red-500':
              siteListForm.get('siteImgUrl')?.invalid &&
              (formSubmitted || siteListForm.controls['siteImgUrl'].touched)
          }"
        />
        <div
          *ngIf="
            (formSubmitted || siteListForm.controls['siteImgUrl'].touched) &&
            siteListForm.controls['siteImgUrl'].invalid
          "
          class="mt-1 mb-3 text-red-500"
        >
          <div *ngIf="siteListForm.controls['siteImgUrl'].hasError('required')">
            Please enter site image URL
          </div>
          <div
            *ngIf="siteListForm.controls['siteImgUrl'].hasError('invalidUrl')"
          >
            Please enter valid site image URL
          </div>
        </div>
      </div>
      <button
        class="mt-10 mx-0.5 px-5 py-3 text-sm bg-grqy-900 text-white shadow rounded-md bg-gray-900"
        type="submit"
      >
        {{ formState }} Site
      </button>
      <button
        class="mt-10 mx-0.5 px-5 py-2.5 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md"
        (click)="handleCancel()"
        type="button"
      >
        Cancel
      </button>
    </form>
  </div>
  <!-- Site cart  -->
  <ng-template #loading>
    <div role="status" class="flex justify-center" #loading>
      <svg
        aria-hidden="true"
        class="w-8 h-8 mr-2 text-gray-200 animate-spin light:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <p>Loading Data...</p>
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
  <div
    class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-5 mx-6 lg:mx-0"
    *ngIf="allSites | async as site; else loading"
  >
    <div
      class="shadow-lg border-2 border-gray-900"
      *ngFor="let site of allSites | async"
    >
      <img [src]="site.siteImgUrl" alt="" />
      <h3 class="p-3 text-xl font-bold">{{ site.siteName }}</h3>
      <div
        class="w-auto mt-3 mx-3 px-3 py-3 bg-blue-200 text-blue-800 rounded-lg text-sm"
      >
        {{ site.siteUrl }}
      </div>
      <button
        class="mt-3 ml-3 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shoadow rounded-md"
        routerLink="/password-list"
        [queryParams]="{
          id: site.id,
          siteName: site.siteName,
          siteUrl: site.siteUrl,
          siteImgUrl: site.siteImgUrl
        }"
      >
        Add new Password
      </button>
      <br />
      <button
        class="mt-1 mb-3 ml-3 mx-0.5 px-5 py-2.5 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md"
        (click)="
          handleEditSite(site.siteName, site.siteUrl, site.siteImgUrl, site.id)
        "
      >
        Edit
      </button>
      <button
        class="my-3 mx-0.5 px-5 py-2.5 text-sm border-2 border-gray-900 text-gray-900 shodow rounded-md"
        (click)="handleDelete(site.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
